#main {
    margin: 100px;
}

.input_div {
    color: #000;
    font-size: 20px;
}

button {
    position: relative;
    height: 60px;
    width: 120px;
    background-color: #858585;
    color: #fff;
    font: 14px bold;

    border: 0;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: wait;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
    transition: all .3s;
    overflow: hidden;
}

button:hover {
    box-shadow: 0px 17px 17px -5px rgba(0, 0, 0, .5);
}

#add_user {
    margin: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-item: center;
    /* background-color:red; */
}

.box {
    width: 375px;
    height: 375px;
    display: flex;
    background-color: #474a59;
    box-shadow: 0 0 40px 16px rgb(0, 0, 0, .3);
    width: 70%;
}

.for_label {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 16px;
    margin-top: 15px;
    margin-left: 160px;
    margin-bottom: 5px;
    position: relative;
}

.add_users {
    margin-left: 35px;
    border-radius: 50px;
    color: #000;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    width: 10%;
    transition: .5s;
    /* outline: none ; */
}

.add_users:hover {
    width: 100%;
    border-radius: 10px;
}

#submit_button {
    margin-left: 275px;
}








