#detail_info_table {
    text-align: center;
    margin: 135px auto;
}

#check_page {
    margin-left: 70px;
}

#change_name, #change_email, #change_username, #change_birthday {
    background-color: #F5948E;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.3);
    height: 275px;
    width: 300px;
    position: relative;
    margin-top: 25px;
    /* width: 500px;
    height: 150px; */
    border-radius: 10px;
    /* margin: 300px auto; */
}
#change_user_course {
    background-color: #F5948E;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.3);
    height: 320px;
    width: 470px;
    position: relative;
    margin-top: 25px;
    /* width: 600px;
    height: 150px; */
    border-radius: 10px;
    /* margin: 300px auto; */
}

#change_user_major {
    background-color: #F5948E;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.3);
    height: 320px;
    width: 350px;
    position: relative;
    margin-top: 25px;
    /* width: 600px;
    height: 150px; */
    border-radius: 10px;
    /* margin: 300px auto; */
}

.change_infos{
    background-color: transparent;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #000;
    font-size: 20px;
    margin-top: 20px;
    width: 10%;
    height: 20px;
    line-height: 20px;
    transition: .3s;
}

.change_infos:hover {
    width: 95%;
    border-bottom: 2px solid #000;
}


.for_label {
    color: #000;
    display: block;
    font-size: 15px;
    height: 16px;
    margin-top: 25px;
    margin-left: 30px;
    /* margin-left: 160px; */
    margin-bottom: 5px;
    position: relative;
}

button {
    height: 50px;
    width: 100px;
    background-color: #858585;
    color: #fff;
    font: 13px bold;

    border: 0;
    border-radius: 5px;
    cursor: wait;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
    transition: all .3s;
    overflow: hidden;
}

button:hover {
    box-shadow: 0px 17px 17px -5px rgba(0, 0, 0, .5);
}
