.body1 {
    background-image: url("dynamic-wang-Oyycm5TAJBI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.98;
}

#toggle {
    position: absolute;
    top: 2%;
    left: 90%;
    width: 60px;
    height: 40px;
    border-radius: 60px;
    background-color: black;
    cursor: pointer;
    box-shadow: inset 2px 2px 10px #d7d3d3;
}

.mod-button {
    width: 30px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.9);
    box-shadow: inset -7px -7px 7px 1px lightgray;
}

#toggle.dark .mod-button {
    left: 30px;
    transition: 0.5s;
}

body.dark {
    background-color: #494848;
}

#toggle.dark {
    background-color: #588a11;
}

.fa-heart {
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

a {
    color: #00B7FF;
}

.login-head {
    font-family: Ink Free;
    font-size: 30px;
    text-align: center;
}

.login-box {
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid white;
    padding: 30px 50px;
}

.login-box h4 {
    font-weight: bold;
    margin: 20px 0px;
}

.login-p {
    font-weight: bold;
    font-size: 16px;
}

.login-box-input {
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 300px;
    outline: none;
}

.login-box-input:focus {
    border-color: blue;
}

.login-buttom-a {
    margin-top: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    background: blue;
    border-radius: 5px;
    color: white;
}

.login-buttom-a:hover {
    background: lightblue;
}

.login-buttom-b {
    margin-top: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    background: green;
    border-radius: 5px;
    color: white;
}

.login-buttom-b:hover {
    background: lightgreen;
}

.reminder {
    font-size: 8px;
    color: red;
}


/*-----------------------------------------*/

.left-feature-set {
    width: 300px;
    border: none;
    border-right: 1px solid lightgrey;
    float: left;
}

.top-div {
    height: 50px;
    font-weight: bold;
    background-color: lightgray;
    border-bottom: 1px solid black;
    display: block;
}

.features {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: left;
    background-color: lightslategray;
    color: white;
    border-radius: 20px;
    position: relative;
    transition: 0.5s ease-in;
    z-index: 1;
}

.features:hover {
    color: darkblue;
    cursor: pointer;
}

.features:before {
    background-color: lightpink;
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 0;
    transition: 0.5s all ease;
}

.features:hover:before {
    transition: 0.5s all ease;
    left: 0%;
    right: 0%;
    z-index: -1;
}

.base-icon {
    display: inline-block;
    margin-top: 1px;
    margin-right: 300px;
    margin-left: 10px;
}

.main-part {
    float: left;
    width: 900px;
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
}

.post {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    padding: 30px 50px;
    width: 700px;
}

.text1 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 700px;
    height: 100px;
}

.text2 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: px;
    height: 100px;
}

.post input {
    height: 15px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.right-set {
    float: left;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 30px;
}

.ad {
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 30px;
}

.ad img {
    margin: 10px;
}

.post-title {
    font-size: 25px;
    display: inline;
}

.post-event-time {
    font-size: 5px;
    display: inline;
    margin-left: 30px;
}

.post-text {
    font-size: 12px;
    table-layout: fixed;
    word-break: break-all;
}

.post-time {
    font-size: 5px;
    color: grey;
}

.login-button-s {
    display: inline;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
}

.response_code {
    color: green;
    font-size: 8px;
}

.forgetpassword {
    font-size: 15px;
    margin-bottom: 10px;
}

.check {
    display: inline;
    margin: left;
    width: 12px;
    height: 12px;
}

.checkp {
    display: inline;
    font-size: 10px;
}

.box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.idmain a {
    text-decoration: none;
}

.result {
    font-size: 12px;
    color: grey;
}

.change-password {
    border-radius: 10px;
    border: 1px solid blue;
    background-color: white;
    padding: 30px;
    padding-top: 10px;
}

.submit {
    margin-top: 10px;
}

.calendar-body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
}

.calendar-button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: #92a1d1;
}

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
}

#weekdays div {
    width: 100px;
    padding: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: #e8faed;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

.eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

.eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#deleteButton {
    background-color: #d36c6c;
}

#saveButton,
#closeButton {
    background-color: #92a1d1;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.calendar-post {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    padding: 30px 50px;
    width: 770px;
}