<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="javascripts/forget.js" defer></script>
        <title>Aoligei-forget</title>
    </head>
    <body class="body1">
      <main  id="app">
        <div class="login-box" ref="forget">
            <h4 class="login-head">Forget details?</h4>
            <a href="login.html"><button class="login-buttom-a">Back to Login</button></a><br />
            <p class="login-p">Your Email</p>
            <input class="login-box-input" type="text" name="email" placeholder="Enter Email" v-model="email">
            <p v-if="email === ''"  class="reminder">Email can not be empty</p>
            <p class="login-p login-button-s">Verification code</p>
            <button class="login-button-s"  v-on:click="getcode()">get code</button><br />
            <p v-if="code_send === true" class="response_code">Code send!</p>
            <input class="login-box-input" type="text" name="email" placeholder="Enter Verification code" v-model="code">
            <p v-if="code === ''"  class="reminder">Code can not be empty</p></br>
            <button class="login-buttom-b box" v-on:click="Check()">Get details</button><br />
        </div>
        <div class="login-box" ref="result" style="display: none;">
            <h4 class="login-head">Comfirmed.</h4>
            <p>Your login details have been send to your email.</p>
            <a href="login.html"><button class="login-buttom-a">Login</button></a><br />
        </div>
      </main>
    </body>
</html>
