<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/3a85694e3a.js" crossorigin="anonymous"></script>
    <script src="javascripts/idmain.js" defer></script>
    <title>Aoligei-idevent</title>
</head>

<body class="idmain">
    <main id="app">
        <div class="top-div">
            <div id="toggle">
                <i class="mod-button"></i>
            </div>
            <div class="base-icon">Welcome! {{username}}</div>
            <i class="fas fa-heart" style="color:green"></i><button class="features" onclick="window.open('courseoverview.html')">Courses</button>
            <!--这里连到有course的界面，比如homepage-->
            <i class="fas fa-heart" style="color:yellow"></i><a href="idevent.html"><button class="features">Your Event</button></a>
            <!--waiting for database operation-->
            <i class="fas fa-heart" style="color:blue"></i><a href="idmain.html"><button class="features">Events</button></a>
        </div>
        <div class="left-feature-set">
            <i class="fa-regular fa-heart" style="color:red"></i><a href="usersetting.html"><button class="features" >{{username}}</button></a>
            <!--waiting for database operation-->
            <i class="fas fa-heart" style="color:yellow"></i><a href="idevent.html"><button class="features">Your Event</button></a>
            <!--waiting for database operation-->
            <i class="fas fa-heart" style="color:green"></i><a href="major_course.html"><button class="features">Courses</button></a>
            <!--这里连到有course的界面，比如homepage-->
            <i class="fas fa-heart" style="color:blue"></i><a href="idmain.html"><button class="features">Events</button></a>
            <i class="fas fa-heart" style="color:black"></i><a href="calendar.html"><button class="features">Calender</button></a>
            <div class="checkp">
                <button v-if="username !== ''" v-on:click="logout()">logout</button>
                <button v-if="username == ''" v-on:click="login()">login</button>
            </div>
        </div>
        <div class="main-part">
            <div class="post-page">
                <div class="post">
                    <p>Here is your Event</p>
                </div>
                <!-- a in list.slice().reverse() -->
                <div v-for="a in list.slice().reverse()" v-if="joined_event.includes(a.event_id) == 1 || a.event_host_id == user_id" class="post">
                    <h4 class="post-title">{{a.event_name}}</h4>
                    <i class="post-event-time">Poster: {{a.username}}</i>
                    <i class="post-event-time">Event Time: {{a.event_time}}</i>
                    <i class="post-event-time">Event place: {{a.event_place}}</i>
                    <p class="post-text">{{a.event_description}}</p>
                    <i class="post-time">Post at: {{a.event_post_time}}</i>
                    <i class="post-time" style="display:block" v-if="a.event_situation.data == 0">Event is not finished</i>
                    <i class="post-time" style="display:block" v-if="a.event_situation.data == 1">Event finished</i>
                    <i class="post-time" style="display:block" v-if="joined_event.includes(a.event_id) == 1 && a.event_host_id !== user_id">You are one of the event member.</i>
                    <i class="post-time" style="display:block" v-if="a.event_host_id == user_id">You are the host.</i>
                    <button v-if="a.event_host_id == user_id" v-on:click="deletepost(a.event_id, a.event_host_id, a.event_name, a.event_time, a.event_place, a.event_description, a.event_post_time)">Delete</button>
                    <button v-if="a.event_host_id == user_id && a.event_situation.data == 0" v-on:click="finishpost(a.event_id, a.event_host_id, a.event_name, a.event_time, a.event_place, a.event_description, a.event_post_time)">Mark as finished</button>
                    <button v-if="a.event_host_id !== user_id && a.event_situation.data == 0 && joined_event.includes(a.event_id) == 0" v-on:click="joinevent(a.event_id, a.event_host_id, a.event_name, a.event_time, a.event_place, a.event_description, a.event_post_time)">Join</button>
                    <button v-if="a.event_host_id !== user_id && a.event_situation.data == 0 && joined_event.includes(a.event_id) == 1" v-on:click="quitevent(a.event_id, a.event_host_id, a.event_name, a.event_time, a.event_place, a.event_description, a.event_post_time)">quit</button>
                </div>
            </div>
        </div>
        <div class="right-set" ref="ads">
            <div class="ad">
                ad gonna be here
                <img src="stylesheets/ashwini-chaudhary-monty-MxxqkMLJmL4-unsplash.jpg" alt="ad" width="300" height="400"> some ad description.
                <!-- Not adding AD yet -->
                <a href="">and a link</a>
                <button v-on:click="closead()">Close</button>
            </div>
        </div>
    </main>
</body>

</html>