<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/login.js" defer></script>
        <title>Aoligei-Login</title>
    </head>
    <body class="body1" >
        <div class="login-box" id="app">
            <h4 class="login-head">Welcome</h4>
            <p class="login-p">Username</p>
            <input class="login-box-input" type="text" name="username" placeholder="Enter Username" v-model="username">
            <p v-if="username === ''" class="reminder">Username can not be empty</p>
            <p class="login-p">Password</p>
            <input class="login-box-input" type="password" name="password" placeholder="Enter Password" v-model="password"><br />
            <p v-if="password === ''" class="reminder">Password can not be empty</p>
            <a class="forgetpassword" href="forget.html">Forget login details?</a><br />
            <button class="login-buttom-a" v-on:click="login()">Login</button><br />
            <a href = "SignUp.html"><button class="login-buttom-b">Sign Up</button></a><br />
            <button class="login-buttom-a" v-on:click="checkvisitor()">Access as visitor</button><br />
            <a href="index.html">Why this page shows up?</a><br />
            <!--这里连到有course的界面，比如homepage-->
        </div>
    </body>
</html>