<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="javascripts/manage_user_info.js" defer></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/manage_user_info.css">
        <title> Manage User Information </title>
    </head>

    <body onload="show_user_info()">

      <div id="main">
        <div class="pure-4-10">
            <table class="pure-table pure-table-horizontal" id="detail_info_table">
              <thead>
                <tr>
                  <th> User ID </th>
                  <th> User Name </th>
                  <th> Operation 1 </th>
                  <th> Submit Operation </th>

                </tr>
              </thead>

              <tbody>
                <tr v-for="i in user_info">
                  <td> {{ i.user_id }} </td>
                  <td> {{ i.username }} </td>
                  <td>
                    <input type="radio" v-model="picked" name="picked" v-bind:value="i.user_id"> DETAIL INFO
                  </td>
                  <td> <button onclick="operation()"> Submit operation </button> </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

      <div id="check_page" style="display:none;">
        <h1> THE USER INFOMATION </h1>
        <hr>
        <br>

        <div class="pure-4-10">
          <h2> User detail </h2>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th> User ID </th>
                <th> User Name </th>
                <th> User email Address </th>
                <th> User Birthday </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="n in user_detail">
                <td> {{ n.index_user_id }} </td>
                <td> {{ n.index_username }} </td>
                <td> {{ n.index_email }} </td>
                <td> {{ n.index_birthday_date }} </td>
            </tbody>
          </table>
        </div>

        <br>
        <hr>
        <br>

        <div class="pure-4-10">
          <h2> User Major & Course </h2>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th> Major </th>
                <th> Course </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="n in user_detail">
                <td> {{ n.index_major_id }} </td>
                <td> {{ n.index_course_id }} </td>
            </tbody>
          </table>
        </div>

        <br>
        <hr>
        <br>
        <p> Would you like to change the user info? </p>
        <button onclick="change_info()"> CHANGE INFO</button>
        <br>
        <br>
        <hr>

        <div id="change_user_info" style="display:none;">
          <h2> Now you can change the related user info </h2>
          <br>
          <p> Please Choose What area you'd like to change </p>
          <button onclick="a()"> User Detail </button>
          <button onclick="b()"> User Major </button>
          <button onclick="c()"> User Course </button>
          <!-- <button> User Joined Event </button> -->

          <div id="change_user" style="display:none;">
            <p> What detail info you'd like to change </p>
            <button onclick="d()">User Name</button>
            <button onclick="e()">User email</button>
            <button onclick="f()">User birthday</button>

            <div id="change_name" style="display:none;">
              <label class="for_label"> Please Enter the User ID </label>
              <input type="text" id="user_id_" class="change_infos">
              <br>
              <label class="for_label"> Please Enter the new username </label>
              <input type="text" id="new_username" class="change_infos">
              <br>
              <br>
              <button onclick="change_username()" class="submit_button">Submit NEW username</button>
            </div>

            <div id="change_email" style="display:none;">
              <label class="for_label"> Please Enter the User ID </label>
              <input type="text" id="user_id_e" class="change_infos">
              <br>
              <label class="for_label"> Please Enter the new email_address </label>
              <input type="text" id="new_email" class="change_infos">
              <br>
              <br>
              <button onclick="change_email()" class="submit_button">Submit NEW email </button>
            </div>

            <div id="change_birthday" style="display:none;">
              <label class="for_label"> Please Enter the User ID </label>
              <input type="text" id="user_id_b" class="change_infos">
              <br>
              <label class="for_label"> Please Enter the new birthday_date </label>
              <input type="text" id="new_birthday" class="change_infos">
              <br>
              <br>
              <button onclick="change_birthday()" class="submit_button">Submit NEW birthday </button>
            </div>

          </div>

          <div id="change_user_major" style="display:none">
            <label class="for_label"> Please Enter the User Name </label>
            <input type="text" id="username" class="change_infos">
            <br>
            <br>
            <form>
              <label for="majors" class="for_label"> Please Choose Your Major: </label>
              <br>
              <br>
              <select if="majors" name="majors" size="3" id="selection">
                <option v-for="i in major_view":value="i.major_id"> {{ i.major_name }}</option>
                </select>
                <br>
                <br>
              </form>
              <button onclick="change_major()" class="submit_button">Submit Major</button>

          </div>

          <div id="change_user_course" style="display:none">
            <label class="for_label"> Please Enter the User Name </label>
            <input type="text" id="user_name" class="change_infos">
            <br>
            <br>
            <form id="change_courses">
              <label for="course" class="for_label"> Please Choose the new course</label>
              <br>
              <br>
              <select if="courses" name="courses" size="3" id="course_select">
                <option v-for="m in course_detail":value="m.course_id"> {{ m.course_id }} {{ m.course_name }} </option>
                </select>
                <br>
                <br>
              </form>
              <button onclick="change_courses()" class="submit_button"> Submit Course </button>

          </div>


        </div>



        <br>
        <br>
        <button onclick="back_main()">BACK</button>

        <br>
        <br>
      </div>
    </body>

</html>