<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://kit.fontawesome.com/3a85694e3a.js" crossorigin="anonymous"></script>
        <script src="javascripts/visitor.js" defer></script>
        <title>Aoligei-idmain</title>
    </head>
    <body class="idmain">
        <main id="app" ref="main">
        <div class="top-div">
            <div class="base-icon">Welcome!  {{username}}</div>
            <a href="visitor.html"><i class="fas fa-heart" style="color:blue"></i><button class="features">Events</button></a>
        </div>
        <div class="left-feature-set">
                <i class="fa-regular fa-heart" style="color:red"></i><button class="features" >{{username}}</button>
                <i class="fas fa-heart" style="color:blue"></i><a href="visitor.html"><button class="features">Events</button></a>
        </div>
            <div class="main-part">
                <div class="post-page">
                    <div class="post">
                        <p>Hello visitor! Feel free to check all public events and if you are interested in our website, please login or signup an account!</p>
                        <a href = "SignUp.html"><button class="login-buttom-b">Sign Up</button></a><br />
                        <a href="login.html"><button class="login-buttom-a">Login</button></a><br />
                    </div>
                    <div v-for="a in list.slice().reverse()" class="post" >
                        <h4 class="post-title">{{a.event_name}}</h4>
                        <i class="post-event-time">Poster: {{a.username}}</i>
                        <i class="post-event-time">Event Time: {{a.event_time}}</i>
                        <i class="post-event-time">Event place: {{a.event_place}}</i>
                        <p class="post-text">{{a.event_description}}</p>
                        <i class="post-time">Post at: {{a.event_post_time}}</i>
                        <i class="post-time" style="display:block" v-if="a.event_situation.data == 0">Event is not finished</i>
                        <i class="post-time" style="display:block" v-if="a.event_situation.data == 1">Event finished</i>
                    </div>
            </div>
        </div>
            <div class="right-set" ref="ads">
                <div class="ad">
                    ad gonna be here
                    <img src="https://tenor.com/view/anton-antonball-antonball-games-free-download-anton-free-gif-17253436" alt="ad" width="300" height="400">
                    some ad description.
                    <!-- Not adding AD yet -->
                    <a href="">and a link</a>
                <button v-on:click="closead()">Close</button>
            </div>
            </div>
        </main>
    </body>
</html>

</body>